[Unit]
Description=Run the OLED display
After=weather.service.service

[Service]
WorkingDirectory=/usr/local/src
ExecStart=/home/pi/venv/bin/python3 /usr/local/src/lights.py
SyslogIdentifier=SRV_DISPLAY
Restart=always
RestartSec=30

[Install]
WantedBy=default.target