[Unit]
Description=FAA weather data service

[Service]
WorkingDirectory=/usr/local/src
ExecStart=/home/pi/venv/bin/python3 /usr/local/src/weather.py -f /usr/local/src
SyslogIdentifier=WEATHER
Restart=always
RestartSec=30


[Install]
WantedBy=multi-user.target